[GLOBAL]
active_learning_enables = False

[CONSUMER]
bootstrap.servers = your_broker
group.id = your_group
auto.offset.reset = earliest
topic = your_input_topic
max_wait_time = your_wait_time

[ENRICHED]
bootstrap.servers = your_broker
group.id = your_group
auto.offset.reset = earliest
topic = your_output_topic
max_wait_time = your_wait_time

[CLASSIFIERS]
severities = INFO,WARNING,ERROR,CRITICAL
event_types = Heartbeat,State change,Operations on files,Apps Interactions,Network Message,Security,Performance Issue,User Interactions,None
categories = Hardware Infrastructure,OS/VM & Dockers,Network Element,Security System,Datas,Application,Middleware,Monitoring & Logging,Other

[DEFAULT_CLASSIFIERS]
severities = INFO
event_types = Apps Events
categories = Application