<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kafka Log Enricher</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h2>Logs from Kafka</h2>
        <div id="response" class="alert" style="display:none;"></div> <!-- Ajouté pour afficher les réponses -->

        <!-- Barre de chargement -->
        <div id="loadingBar" class="my-4">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>

        <form id="logForm">
            <table class="table">
                <thead>
                    <tr>
                        <th>Log</th>
                        <th>Severity</th>
                        <th>Event Type</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Script pour gérer la soumission asynchrone du formulaire -->
    <script>
        $(document).ready(function() {
            // Montrez la barre de progression initialement
            $("#loadingBar").show();

            function fetchMessage() {
                $.get("/get_message", function(data) {
                    if (data) {
                        // Cachez la barre de progression
                        $("#loadingBar").hide();

                        let escapedData = data.replace(/"/g, '&quot;');

                        let tableRow = `
                            <tr>
                                <td>${escapedData}</td>
                                <td>
                                    <select name="severity" required>
                                        {% for severity in severities %}
                                            <option value="{{ severity }}">{{ severity }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select name="event_type" required>
                                        {% for event_type in event_types %}
                                            <option value="{{ event_type }}">{{ event_type }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select name="category" required>
                                        {% for category in categories %}
                                            <option value="{{ category }}">{{ category }}</option>
                                        {% endfor %}
                                    </select>   
                                </td>    
                                <td>
                                    <input type="hidden" name="log" value='${escapedData}'>
                                    <button type="submit" class="btn btn-primary send-btn">Send</button>
                                </td>
                            </tr>
                        `;
                        $("table tbody").append(tableRow);
                    } else {
                        // Si aucun message n'est renvoyé, attendez 1 seconde et réessayez.
                        setTimeout(fetchMessage, 1000);
                    }
                });
            }

            fetchMessage();

            $(document).on('click', '.send-btn', function(e) {
                e.preventDefault();

                // Affichez la barre de chargement
                $("#loadingBar").show();

                let btn = $(this);
                let formRow = btn.closest('tr');

                $.post("/send", {
                    log: formRow.find('input[name="log"]').val(),
                    severity: formRow.find('select[name="severity"]').val(),
                    event_type: formRow.find('select[name="event_type"]').val(),
                    category: formRow.find('select[name="category"]').val()
                }, function(response) {
                    if (response === "Success") {
                        formRow.remove();
                        fetchMessage();
                        $('#response').removeClass('alert-danger').addClass('alert-success').text("Log sent successfully!").show();
                        setTimeout(function() {
                            $("#response").hide();
                        }, 1500);
                    } else {
                        // Cachez la barre de chargement en cas d'erreur et affichez un message d'erreur
                        $("#loadingBar").hide();
                        $('#response').removeClass('alert-success').addClass('alert-danger').text("Error sending log!").show();
                        setTimeout(function() {
                            $("#response").hide();
                        }, 1500);
                    }
                });
            });
        });
    </script>
</body>

</html>
